/* @import url("font-awesome.min.css"); */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
#avatar {
  max-width: 100%;
  border: 5px solid #cacaca;
  border-radius: 50%;
  height: 200px;
}
body {
  height: 100vh;
}

.hero {
  height: 100%;
}
.navbar {
  background: #4641ff;
}

.__logo {
  width: 150px;
}

.hero__overlay--gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6c63ff),
    to(#4641ff)
  );
  background: linear-gradient(90deg, #6c63ff, #4641ff);
}
.hero__overlay {
  background: #4641ff;
}

a.link__dotted {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px rgba(188, 188, 188, 0.8);
  -moz-transition: color 0.35s ease-in-out,
    border-bottom-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out,
    border-bottom-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  outline: 0;
}

.cta--reverse {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#6c63ff),
    to(#4641ff)
  );
  background: linear-gradient(270deg, #6c63ff, #4641ff);
}

.cta {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6c63ff),
    to(#4641ff)
  );
  background: linear-gradient(90deg, #6c63ff, #4641ff);
  color: #fff;
  padding: 48pt 0;
  text-align: center;
}

.icons {
  list-style: none;
}

.icons li {
  display: inline-block;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 100;
  color: rgba(250, 250, 250, 0.7);
}

.hero__content {
  padding: 70px 0;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 450px) {
  /* Styles */

  body {
    height: 100%;
  }
}
